# Yocto build directories
/build/tmp/
/build/sstate-cache/
/build/cache/
/build/bitbake-cookerdaemon.log

# Downloaded source code
/build/downloads/

# Build logs
*.log
*.log.*
/build/buildhistory/

# Temp files
*~
.*.swp
.*.swo

# Sensitive information
meta-custom/recipes-connectivity/wifi-config/files/wpa_supplicant-wlan0.conf

# External layers - these will be managed by the setup script
/meta-raspberrypi/
/oe-core/
/.meta-backup/

# Keep configuration files
!/build/conf/local.conf
!/build/conf/bblayers.conf

# Docker related files
.container_*